/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 120%;
    margin-top: 20%;
    /*margin-left: 35%;
    margin-right: 35%;*/
    align-content: center;
    padding-left: 40%;
    width: 1000px;
    display: flex;
    /*justify-content: space-evenly;
    float: right;
    overflow: hidden;*/
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }